/.vscode
/1 pamoka
/12 pamoka
/18 pamoka
/19 pamoka
/2 pamoka
/20 pamoka
/24 pamoka
/27 pamoka
/29 pamoka
/3 pamoka
/32 pamoka
/5 pamoka
/6 pamoka
/7 pamoka
/8 pamoka
/landing page project
/ND
/nuotraukos
/pasekmes.jpg
/savarankiski darbai
/workspace.code-workspace